{% extends 'layout.twig' %}
{% block title %}{{ parent() }} > Create Product{% endblock %}
{% block content %}
   <h2>Create Product</h2>

   <form method="post" action="/product/create">
       <div>
           <label for="name">Name:</label>
           <input type="text" id="name" name="name" required>
       </div>
       <div>
           <label for="description">Description:</label>
           <textarea id="description" name="description"></textarea>
       </div>
       <div>
           <label for="price">Price:</label>
           <input type="number" id="price" name="price" step="0.01" required>
       </div>
       <button type="submit">Create Product</button>
   </form>
{% endblock %}
